@import "tailwindcss";

.leaflet-container {
  width: 100%;
  height: 100vh;
  background-color: hsl(238deg 11% 30%) !important;
}

.local-marker-inner {
  width: 3vmin;
  height: 3vmin;
  background-size: 100% 100%;
}
